:root{
	/*Farben*/
	--light_red: #ff2d55;
	--red: #FF3B30;
	--orange: #FF9500;
	--yellow: #FFCC00;
	--green: #4CD964;
	--light_blue: #34AADC;
	--blue: #007AFF;
	--dark_blue: #5856D6;
	--light_gray: #C7C7CC;
	--gray: #8E8E93;
	--black: #2b2b2b;
	--white: #ffffff;
}


body {
	padding-top: 70px;
}

.cell{
	border:1px solid var(--dark_blue);
	float:left;
	margin-right:-1px;
	margin-bottom:-1px;
	background: var(--white);
}
.cell.alive{
	background: var(--dark_blue);
}

.btn{
	border-radius: 0px;
}

.btn-primary {
	color: var(--white);

}
